.additional-product__title {
  margin: 0;
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  font-family: @oswald;
  text-transform: uppercase;
}

.additional-product__item {
  margin: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 13px;
}

.additional-products__gift {
  padding: 58px 61px 43px 58px;
  background-image: url("../img/gift-photo-mobile.jpg");
}

.additional-products__gift-icon {
  margin-bottom: 48px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.additional-products__gift-text {
  margin: 0;
  color: @white;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}
