.copyright {
  display: flex;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    min-width: 163px;
  }
}

.copyright__text {
  padding-top: 6px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}
