.example {
  padding-top: 27px;
  padding-bottom: 25px;
  background-color: @grey;

  @media (min-width: @tablet-width) {
    padding-top: 43px;
    padding-bottom: 33px;
    background-color: @white;
  }
}

.example__title {
  margin: 0;
  margin-bottom: 35px;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  font-family: @oswald;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 63px;
  }
}

.example__text {
  margin: 0;
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    padding-right: 10px;
    margin-bottom: 54px;
  }
}

.example__list {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: @tablet-width) {
    margin-bottom: 64px;
  }
}

.example__item:not(:nth-child(2n)) {
  margin-right: 32px;

  @media (min-width: @tablet-width) {
    margin-right: 42px;
  }
}

.example__item {
  margin: 0;
  margin-bottom: 35px;
  position: relative;

  @media (min-width: @tablet-width) {
    margin-right: 42px;
    margin-bottom: 0;
  }
}

.example__value {
  width: 122px;
  border-radius: 3px;
  border: 1px solid @border-grey;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  font-family: @oswald;
  text-align: center;
  display: block;
  padding-top: 14px;
  padding-bottom: 16px;

  @media (min-width: @tablet-width) {
    width: 160px;
    font-size: 30px;
    line-height: 37px;
    padding-bottom: 19px;
  }
}

.example__parameter {
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  width: 63%;
  margin: 0 auto;
  padding: 0 5px;
  text-align: center;
  font-size: 12px;
  line-height: 12px;
  background-color: @grey;

  @media (min-width: @tablet-width) {
    width: max-content;
    bottom: -6px;
    padding: 0 8px;
    font-size: 14px;
    line-height: 14px;
    background-color: @white;
  }
}

.example__item-expenses {
  margin: 0;
  margin-bottom: 39px;
  text-align: center;
  flex-grow: 1;

  @media (min-width: @tablet-width) {
    text-align: end;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }
}

.example__parameter-expenses,
.example__value-expenses {
  line-height: 20px;
  font-weight: 400;
  font-family: @oswald;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    padding-top: 10px;
    font-size: 20px;
  }
}

.example__slider {
  min-height: 298px;

  @media (min-width: @tablet-width) {
    min-height: 620px;
  }
}
