.field-text {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: baseline;
  position: relative;

  &:not(:last-child) {
    margin-bottom: 14px;

    @media (min-width: @tablet-width) {
      margin-bottom: 19px;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 20px;
    }
  }

  &--name {
    .field-text__label {
      padding-right: 15px;

      @media (min-width: @tablet-width) {
        padding-right: 16px;
      }
    }
  }

  &--weight {
    .field-text__label {
      padding-right: 17px;

      @media (min-width: @tablet-width) {
        padding-right: 19px;
      }
    }
  }

  &--age {
    .field-text__label {
      padding-right: 17px;

      @media (min-width: @tablet-width) {
        padding-right: 17px;
      }
    }
  }

  &--email {
    .field-text__label {
      padding-right: 10px;

      @media (min-width: @tablet-width) {
        padding-right: 19px;
      }
    }

    .field-text__input {
      padding-right: 40px;
    }
  }

  &--phone {
    .field-text__label {
      padding-right: 9px;

      @media (min-width: @tablet-width) {
        padding-right: 17px;
      }
    }

    .field-text__input {
      padding-right: 40px;
    }

    @media (min-width: @tablet-width) {
      margin-left: -3px;
    }
  }
}

.field-text__label {
  padding-top: 13px;
  font-size: 16px;
  line-height: 18px;
  font-family: @oswald;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    padding-right: 18px;
    padding-top: 10px;
    font-size: 20px;
    line-height: 30px;
  }
}

.field-text__input {
  min-height: 43px;
  padding: 0 14px;
  border: 1px solid @input-grey;
  font-size: 16px;
  line-height: 18px;
  font-family: @oswald;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    min-height: 50px;
    padding: 0 19px;
    font-size: 20px;
    line-height: 30px;
  }

  &:hover {
    border: 1px solid @border-grey;
  }

  &:focus {
    border: 1px solid @darkgrey;
    outline: none;

    & + .field-text__icon--email {
      stroke: @green;
    }

    & + .field-text__icon--phone {
      fill: @green;
    }
  }

  &:focus:invalid {
    border: 1px solid @red;

    & + .field-text__icon--email {
      stroke: @red;
    }

    & + .field-text__icon--phone {
      fill: @red;
    }
  }
}

.field-text__icon {
  position: absolute;

  &--email {
    top: 16px;
    right: 13px;
    fill: transparent;
    stroke: @black;

    @media (min-width: @tablet-width) {
      top: 18px;
      right: 18px;
    }
  }

  &--phone {
    top: 13px;
    right: 11px;
    fill: @black;

    @media (min-width: @tablet-width) {
      top: 17px;
      right: 16px;
    }
  }
}

.field-text__comment {
  min-height: 130px;
  margin: 0 -2px;
  padding: 9px 11px 9px 14px;
  border: 1px solid @input-grey;
  resize: none;
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: 16px;
  line-height: 18px;
  font-family: @oswald;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    padding: 10px 17px;
    min-height: 152px;
    font-size: 20px;
    line-height: 30px;
  }

  &::placeholder {
    color: @darkgrey;
  }

  &:hover {
    border: 1px solid @border-grey;
  }

  &:focus {
    border: 1px solid @darkgrey;
    outline: none;
  }
}
