.field-radio {
  &:not(:last-child) {
    margin-bottom: 13px;

    @media (min-width: @tablet-width) {
      margin-bottom: 22px;
    }
  }

  &:hover {
    .field-radio__label::before {
      border: 1px solid @hover-grey;
    }
  }

  &:active {
    opacity: 0.3;
  }

  &:focus-within {
    .field-radio__label::before {
      border: 1px solid @green;
    }
  }
}

.field-radio__label {
  display: inline-flex;
  align-items: center;
  min-height: 30px;
  padding-left: 43px;
  font-size: 16px;
  line-height: 18px;
  font-family: @oswald;
  color: @special_dark-grey;
  text-transform: uppercase;
  position: relative;

  @media (min-width: @tablet-width) {
    padding-left: 67px;
    font-size: 20px;
    line-height: 30px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 28px;
    height: 28px;
    border: 1px solid @border-grey;
    border-radius: 50%;
    top: 0;
    left: -2px;

    @media (min-width: @tablet-width) {
      width: 38px;
      height: 38px;
      top: -5px;
      left: 7px;
    }
  }
}

.field-radio__input:checked + .field-radio__label::after {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  background-color: @green;
  border-radius: 50%;
  top: 8px;
  left: 7px;

  @media (min-width: @tablet-width) {
    width: 18px;
    height: 18px;
    top: 6px;
    left: 18px;
  }
}
