.header {
  margin-bottom: 22px;
  color: @white;
  background-image: url("../img/index-background-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% 302px;
  text-align: center;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
    color: @black;
    background-image: none;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 80px;
    padding-bottom: 54px;
    background-image: url("../img/index-background-desktop.jpg");
    background-position: right top;
    background-size: 50% 694px;
  }
}

.header__wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 494px 552px;
  }
}

.header__title {
  margin: 0;
  margin-bottom: 26px;
  padding-top: 26px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  font-family: @oswald;

  @media (min-width: @tablet-width) {
    padding-top: 36px;
    padding-left: 87px;
    margin-bottom: 41px;
    font-size: 60px;
    line-height: 60px;
    text-align: start;
  }

  @media (min-width: @desktop-width) {
    padding-top: 223px;
    padding-left: 80px;
    margin-bottom: 40px;
  }
}

.header__text {
  margin: 0;
  margin-bottom: 29px;
  line-height: 14px;
  text-transform: uppercase;
  font-family: @oswald;

  @media (min-width: @tablet-width) {
    margin-bottom: 46px;
    padding-left: 87px;
    font-size: 20px;
    line-height: 20px;
    text-align: start;
  }

  @media (min-width: @desktop-width) {
    padding-left: 80px;
    margin-bottom: 49px;
    grid-column-start: 1;
    grid-column-end: 2;
  }
}

.header__photo-container {
  @media (min-width: @tablet-width) {
    order: 2;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
  }
}

.header__photo {
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    margin-top: -83px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 0;
    margin-left: -46px;
    padding-top: 140px;
  }
}

.header__button {
  margin-top: 3px;
  width: 100%;
  min-height: 40px;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: @tablet-width) {
    order: 1;
    width: 244px;
    min-height: 54px;
    margin-left: 82px;
    z-index: 1;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 80px;
    margin-bottom: 133px;
  }
}
