.header {
  margin-bottom: 22px;
  color: @white;
  background-image: url("../img/index-background-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% 302px;
  text-align: center;
  min-height: 302px;
}

.header__title {
  margin: 0;
  margin-bottom: 24px;
  padding-top: 26px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  font-family: @oswald;
}

.header__text {
  margin: 0;
  margin-bottom: 27px;
  text-transform: uppercase;
  font-family: @oswald;
}

.header__photo {
  margin: 0 auto;
}

.header__button {
  margin-top: 3px;
}
