.page-footer {
  padding-top: 39px;
  padding-bottom: 22px;
  background-color: @bg-grey;

  @media (min-width: @tablet-width) {
    padding-top: 55px;
    padding-bottom: 61px;
  }
}

.page-footer__wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.page-footer__logo {
  width: 100%;
  padding-bottom: 31px;
  border-bottom: 1px solid @footer-grey;

  @media (min-width: @tablet-width) {
    padding-top: 5px;
    padding-bottom: 0;
    border-bottom: none;
  }
}

.page-footer__social {
  padding-top: 20px;
  padding-bottom: 17px;
  border-bottom: 1px solid @footer-grey;

  @media (min-width: @tablet-width) {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
  }
}

.page-footer__copyright {
  padding-top: 22px;

  @media (min-width: @tablet-width) {
    padding-top: 0;
  }
}
