.page-catalog__title {
  margin: 0;
  padding-top: 26px;
  padding-bottom: 40px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  font-family: @oswald;
  border-bottom: 1px solid @border-lightgrey;
  color: @black;

  @media (min-width: @tablet-width) {
    padding-top: 38px;
    padding-bottom: 0;
    margin-bottom: 83px;
    font-size: 60px;
    line-height: 60px;
    border-bottom: none;
  }

  @media (min-width: @desktop-width) {
    padding-top: 47px;
  }
}
