.products__wrapper {
  @media (min-width: @tablet-width) {
    padding: 0 30px;
    margin-bottom: 67px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 110px;
    margin-bottom: 75px;
  }
}

.products__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 60px;
    grid-row-gap: 59px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 245px 245px 245px 245px;
    grid-column-gap: 80px;
    grid-row-gap: 62px;
  }
}

.products__item {
  padding: 21px 20px 24px;
  border-bottom: 1px solid @border-lightgrey;

  @media (min-width: @tablet-width) {
    padding: 0 38px 40px;
    border-bottom: none;

    &--min {
      padding-top: 36px;
    }

    &--max {
      padding-top: 8px;
    }
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 40px;
    padding-left: 40px;

    &--min {
      padding-top: 28px;
    }

    &--max {
      padding-top: 1px;
    }
  }
}
