.using {
  margin-bottom: 42px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
    padding-bottom: 46px;
    border-bottom: 1px solid @nav-grey;
  }
}

.using__title {
  margin: 0;
  margin-bottom: 38px;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  font-family: @oswald;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 32px;
  }
}

.using__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 60px;
    grid-row-gap: 37px;
  }
}

.using__item:not(:last-child) {
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}

.using__item {
  min-height: 60px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: @green;
    top: 0;
    left: 0;

    @media (min-width: @tablet-width) {
      width: 80px;
      height: 80px;
      top: 40px;
    }
  }

  &--leaf {
    &::after {
      content: "";
      position: absolute;
      width: 30px;
      height: 32px;
      background-image: url("../../img/icon_leaf.svg");
      top: 14px;
      left: 15px;

      @media (min-width: @tablet-width) {
        top: 64px;
        left: 24px;
      }
    }

    @media (min-width: @tablet-width) {
      background-image: url("../img/bg-1.svg");
      background-repeat: no-repeat;
      background-position: 125px 40px;
    }
  }

  &--tub {
    &::after {
      content: "";
      position: absolute;
      width: 29px;
      height: 31px;
      background-image: url("../../img/icon_tub.svg");
      top: 13px;
      left: 15px;

      @media (min-width: @tablet-width) {
        top: 64px;
        left: 25px;
      }
    }

    @media (min-width: @tablet-width) {
      background-image: url("../img/bg-2.svg");
      background-repeat: no-repeat;
      background-position: 122px 38px;
    }
  }

  &--eat {
    &::after {
      content: "";
      position: absolute;
      width: 25px;
      height: 30px;
      background-image: url("../../img/icon_eat.svg");
      top: 15px;
      left: 18px;

      @media (min-width: @tablet-width) {
        top: 65px;
        left: 28px;
      }
    }

    @media (min-width: @tablet-width) {
      background-image: url("../img/bg-3.svg");
      background-repeat: no-repeat;
      background-position: 124px 38px;
    }
  }

  &--alarm {
    &::after {
      content: "";
      position: absolute;
      width: 32px;
      height: 33px;
      background-image: url("../../img/icon_alarm.svg");
      top: 13px;
      left: 14px;

      @media (min-width: @tablet-width) {
        top: 63px;
        left: 24px;
      }
    }

    @media (min-width: @tablet-width) {
      background-image: url("../img/bg-4.svg");
      background-repeat: no-repeat;
      background-position: 124px 38px;
    }
  }
}

.using__text {
  margin: 0;
  padding: 3px 0 4px 80px;

  @media (min-width: @tablet-width) {
    padding: 151px 75px 57px 0;
  }
}

